.Order {
    width: 80%;
    border: 1px solid #EEE;
    box-shadow: 0 2px 3px #CCC;
    margin: 20px auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

.Ingredient {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    padding: 8px;
    border: 1px solid #EEE;
    border-radius: 4px;
    box-shadow: 0 1px 1px #CCC;
}