.ContactData {
    width: 80%;
    margin: 2rem auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #EEE;
    box-shadow: 0 2px 3px #CCC;
    text-align: center;
}

.ContactData input {
    display: block;
}